body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}
.card-img-top {
    width: 90%;
    height: 30%;
    border: 2px solid red;
    margin-top: 10px;
}

@media (min-width: 768px) {
.card-img-top {
    width: 50%;
    height: 20%;
    border: 2px solid red;
    margin-top: 20px;
}
}

.partner {
    border: 2px solid red;
    margin-bottom: 20px;
    width: 85%;
    padding-left: 0;
    padding-right: 0;
}

.comments {
    border: 2px solid red;
    margin-bottom: 20px;
    width: 85%;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    button {
        height: 50px;
    }
    .partner {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .comments {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.list-group-item {
    border: 1px solid red;
    border-radius: 2px;
}

/*------<Partie Header ----*/

@media (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: center;
    }
     .rounded{
        width: 600px;
        height: 100px;
    }
    .nav{
        display: block;
    }
    .dropdown-toggle{
        padding-left: 50px;
    }
    }
    .header{
        background-color: #ddd7d7;
    }
    .header a{
        color: red;
    }
    .rounded{
        width: 50px;
        height: 50px;
    }